@import url("https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700|Montserrat:100,300,400,900");

.card{
    width: 18rem;
}

.card-header {
    color: #2da6a0;
    text-transform: uppercase;
    font-family: Koho;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

.piContainer {
    background-color: rgba(126, 255, 255, 0.5);
    padding: 20px;
}

.hoverText{
    visibility: hidden;
    display: none;
    position: absolute;
    top: 10px;
    right: -130px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    background-color: gray;
    color: white;
    z-index: 0;
}

.hoverDiv{
    position: relative;
    z-index: 1;
}

.hoverDiv:hover span{
    visibility: visible;
    display: inline-block;
    z-index: 1;
}

